/SysChangeSpeakStatusReq.class
/SysChangeSpeakStatusRes.class
/SysCloseRoomReq.class
/SysCloseRoomRes.class
/SysCloseStudentReq.class
/SysCloseStudentRes.class
/SysGetRoomStudentsReq.class
/SysGetRoomStudentsRes.class
/SysGetRoomsReq.class
/SysGetRoomsRes.class
/SysLoginOutReq.class
/SysLoginOutRes.class
/SysLoginReq.class
/SysLoginRes.class
/SysReloadConfigReq.class
/SysReloadConfigRes.class
/SysUpdRoomReq.class
/SysUpdRoomRes.class
